<% if notice %>
    <div class="ui positive message">
    <i class="close icon"></i>
    <div class="header notice">
        <%= notice %>
    </div>
    </div>
<%end%>

<% if alert %>
    <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header alert">
        <%= alert %>
    </div>
    </div>
<%end%>